
gamedata_new/config/ui/maingame.xml
gamedata_new/config/ui/maingame_16.xml
gamedata_new/config/ui/messages_window.xml
gamedata_new/config/ui/messages_window_16.xml
gamedata_new/config/ui/motion_icon.xml
gamedata_new/config/ui/motion_icon_16.xml
gamedata_new/config/ui/ui_hud.xml
gamedata_new/config/ui/zone_map.xml
gamedata_new/config/ui/zone_map_16.xml
